<!-- <!doctype html>
<html>
<head>
  <title>FooChoi</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body id="mealPage">
  <h2><%= meal.strMeal %></h2>
  <p id="instructions">Ingredients that have your allergen are highlighted in red.
     Avoid this dish if you see any ingredient in red </p>
  <ul>
    <% console.log("allergens", allergens)
    for(var i=1; i < 20; i++) {
      const propertyName = "strIngredient"+i //creating a string, and find meal object, and
      if(meal[propertyName]){  //does the ingredient exist in the list of ingredients of the meal , concanation
        let allergic = allergens.find(function(allergen) { //check to see if the ingredient contains an allergen from the list
          console.log(meal[propertyName], allergen, meal[propertyName].includes(allergen))
          return meal[propertyName].toLowerCase().includes(allergen.toLowerCase())
        })
        console.log("allergic", allergic)
        let className = ""
        if(allergic){ //if allergic to this, change the className to allergic
          className = 'allergic'
        }
        %>
        <li class="meal <%= className %>">
          <span><%= meal[propertyName]%><i class="fas fa-allergies"></i></span>
        </li>
        <% }
      } %>
    </ul>

    <script src="/main.js"></script>
  </body> -->

<% include headerAllergicLayout %>

    <!-- start about section -->
    <section data-scroll-index="1" data-overlay-dark="0" data-background="img/bg-section.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="callto-action-imgbox md-margin-30px-right">

                        <!-- start play button -->
                        <div class="play-button-wrapper story-video">
                            <a href="video/foodVideoProject.mp4" class="btn-play video">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <!-- end play button -->

                        <img src="img/new-about-story.jpg" alt="about story" class="border border-width-8 width-100 border-color-light-black" />
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 offset-xl-1 offset-lg-0">

                    <div class="section-heading left half xs-margin-20px-bottom">
                        <div class="title-font">Check Your</div>
                        <h4>List of Ingredients</h4>
                    </div>

                    <p class="width-90 xs-width-100">A meal should be inclusive. My application considers your allergies and dietary preferances for meal prep recipes. It will allow you to get subsititues for your allergens.</p>
                    <p class="width-90 xs-width-100">FooChoi aims to connect the world, one meal at a time.</p>
                    <ul>
                      <% console.log("allergens", allergens)
                      for(var i=1; i < 20; i++) {
                        const propertyName = "strIngredient"+i //creating a string, and find meal object, and
                        if(meal[propertyName]){  //does the ingredient exist in the list of ingredients of the meal , concanation
                          let allergic = allergens.find(function(allergen) { //check to see if the ingredient contains an allergen from the list
                            console.log(meal[propertyName], allergen, meal[propertyName].includes(allergen))
                            return meal[propertyName].toLowerCase().includes(allergen.toLowerCase())
                          })
                          console.log("allergic", allergic)
                          let className = ""
                          if(allergic){ //if allergic to this, change the className to allergic
                            className = 'allergic'
                          }
                          %>
                          <li class="meal <%= className %>">
                            <span><%= meal[propertyName]%><i class="fas fa-allergies"></i></span>
                          </li>
                          <% }
                        } %>
                      </ul>
                    <a href="javascript:void(0);" data-scroll-nav="4" class="btn">Find Alternatives</a>

                </div>
            </div>
        </div>
        <div class="corner-img about-corner wow fadeInRight" data-wow-duration="0.8s">
            <img src="img/about-bg.png" alt="" />
        </div>
    </section>
    <!-- end about section -->


    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper.min -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="js/scrollIt.min.js"></script>

    <!-- animated.headline -->
    <script src="js/animated.headline.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- datepicker js -->
    <script src="js/datepicker.min.js"></script>

    <!-- clockpicker js -->
    <script src="js/clockpicker.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!-- countdown -->
    <script src="js/countdown.js"></script>

    <!-- wow js -->
    <script src="js/wow.js"></script>

    <!-- map -->
    <script src="js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFuLx8S7A8eianoUhkYMeXpGPvsXp1NM&amp;callback=initMap" async defer></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- contact form scripts -->
    <script src="js/mailform/jquery.form.min.js"></script>
    <script src="js/mailform/jquery.rd-mailform.min.c.js"></script>

    <!-- all js include end -->

</body>

</html>
